#comic_head {
    position: relative;
    height: 500px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, $dark 0px, $dark 75%, $blue 15%, $blue 100%);
    .cover {
        position: absolute;
        left: 25%;
        top: 25%;
        border: 1px solid white;
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: .8rem;
            opacity: 0.8;
        }
        img {
            height: 320px;
        }
        div {
            background-color: #00A9D9;
        }
    }
}

#check {
    border-bottom: 1px solid gray;
    font-size:1.15rem;
    .text_green {
        color: greenyellow;
    }
    .br_1{
        border-right: 1px solid gray;
    }
}

#specs {
    background-color: lightgrey;
    border-top: 1px solid gray;
    .col-lg-6 div.row {
        padding: 1rem 0;
        border-bottom: 1px solid gray;
    }
}
