// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navborder {
    border-bottom: .5px solid lightgrey;
}

.active {
    border-bottom: 3px solid $blue;
}

td {
    img {
        width: 100%;
    }
    > a, > button {
        width: 100%;
    }
}

/* .white_row {
    height: 100px;
    width: 100%;
    background-color: white;
} */

.banner {
    position: relative;
    width: 100%;
    background-color: $dark;
    .banner_title {
        position: absolute;
        left: 10%;
        top: -20px;
        background-color: $blue;
    }
}
