// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navborder {
    border-bottom: .5px solid lightgrey;
    img {
        width: 65%;
    }
    ul li a {
        font-size: 1.25rem;
    }
}

.active {
    border-bottom: 3px solid $blue;
}

td {
    img {
        width: 100%;
    }
    > a, > button {
        width: 100%;
    }
}

.banner {
    position: relative;
    width: 100%;
    background-color: $dark;
    .banner_title {
        position: absolute;
        left: 10%;
        top: -20px;
        background-color: $blue;
    }
}

#serie {
    position: relative;
    background-color: $dark;
    .serie_title {
        position: absolute;
        left: 10%;
        top: -40px;
        background-color: $blue;
    }
    .card {
        flex-basis: calc(16.66% - 2rem);
        margin: 0 1rem;
    }
}
