// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'comic';

.h_50 {
    height: 50vh
}

.navbar img {
    width: 50%;
}

.navborder {
    border-bottom: .5px solid lightgrey;
    img {
        width: 65%;
    }
    ul li a {
        font-size: 1.25rem;
        padding: 1.5rem 1rem;
    }
}

.active {
    border-bottom: 5px solid $blue;
}

td {
    img {
        width: 100%;
    }
    > a, > button {
        width: 100%;
    }
}

.banner {
    position: relative;
    width: 100%;
    background-color: $dark;
    .banner_title {
        position: absolute;
        left: 10%;
        top: -25px;
        background-color: $blue;
    }
}

#serie {
    position: relative;
    background-color: $dark;
    .serie_title {
        position: absolute;
        left: 10%;
        top: -40px;
        background-color: $blue;
    }
    .card {
        flex-basis: calc(16.66% - 2rem);
        margin: 0 1rem;
    }
}

#blue_section {
    padding: 3rem;
    .blue_card {
        flex-basis: 25%;
    }
}

#site_footer {
    background-image: url('../../public/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .footer_top {
        padding: 3rem 0;
        background-image: url('../../public/img/logo-background.png');
        background-position: right center;
        background-repeat: no-repeat;
        .footer_card {
            width: 15%;
            li {
                color: grey;
                font-weight: bold;
            }
        }
        p {
            color: grey;
            font-weight: bold;
            font-size: .8rem;
        }
    }
    .footer_bottom {
        button {
            border-radius: 0;
            border: 3px solid $blue;
            font-size: 1.25rem;
        }
        .socials {
            span {
                font-size: 1.25rem;
            }
            i {
                color: grey;
                font-size: 1.5rem;
                cursor: pointer;
                padding: 0 .5rem;
                vertical-align: middle;
            }
            i:hover {
                transform: scale(1.5);
            }
        }
    }
}